# These are public so safe to put into the repo as well
PUBLIC_SUJEET_PRO_ALGOLIA_APP_ID=8393O66TUN
PUBLIC_SUJEET_PRO_ALGOLIA_API_KEY=c138003db1f9a8b652a193b38dae6248
PUBLIC_SUJEET_PRO_ALGOLIA_INDEX_NAME=Sujeet.pro Root site